<%- include("partials/header.ejs") %>

    <form id="setsForm" method="get">
        <div class="selectors">
            <select name="tcgsets" id="sets">
                <% if (locals.sets) { %>
                    <option value="" selected disabled hidden>Choose here</option>
                    <% for(let i=0; i < sets.length; i++) { %>
                        <option value=<%=sets[i].id %>><%= sets[i].name %>
                        </option>
                    <% } %>
                <% } else { %>
                        <option value="error">There was an error</option>
                <% } %>
            </select>
            <input id="submitSets" type="submit" value="Submit" formaction="/getSets">
        </div>

    </form>

    <!-- <div><img src="https://assets.tcgdex.net/en/base/base1/logo.webp"></div> -->
    <div class="set-container temp-hidden" id="newCard">This card is hidden</div>

<script>
    document.querySelector("#sets").addEventListener("change", function() {
        let newCard = document.querySelector("#newCard")
        newCard.classList.remove("temp-hidden")


        let selectedSet = "<%=JSON.stringify(sets) %>"
        selectedSet = JSON.parse(selectedSet.replace(/&#34;/ig,'"'))

        let selectedCard = selectedSet.filter(crd => {return crd.id === this.value})[0]
        newCard.innerHTML = `<img src="${selectedCard.logo}.webp" alt="Picture of ${selectedCard.name}">`
    })
</script>

    <%- include("partials/footer.ejs") %>